* {
    box-sizing: border-box;
    --border: 1px solid #ddd;
    --shadow: 0 2px 2px #ccc;
    --padding-box: .5rem 1rem;
    --primary: #0f232f;
    --secondary: #2eb499;
    --bg-nav: #06141d;
    --bg-footer: #0b0b0c;

    --bp-md: 768px;
    --bp-xmd: 950px;
    --bp-lg: 1200px;
    font-family:sans-serif;
}


td{
    background-color: #d6d8db;
    color: black;
}

.global input:required:invalid {
        border:2px solid #C00000;
      
}

.finalizar{
    background-color: #dadcff;
    margin: auto;
    margin-top: 3em;
    border-radius: 2px;
    border:3px solid #444cd6;
}



input:required:valid {
    border:2px solid green;
  
}

.hola{
    display: inline-block;
    width: 8%;
    text-align: center;
    margin-left: 7em;
}
.asd{
    display: inline-block;
    width: 8%;
    text-align: center;
    margin-left: 1em;
}
.div-nuevo{
    background-color: burlywood;
    width: 70%;
    margin: auto;
    display: block;
}

.lista-empresa{
    list-style: none;
}

body{
    background-color: #f4f2f2;
}
.none{
    display: none;
}
html, body, #root {
    height: 100%;
}

img {
    max-width: 100%;
}
.hamburguesa{
    background-color: #ffc107 ;
    z-index: 1050;
    opacity: 0.9;
}



.App {
    display: grid;
    grid-template-rows: 56px 1fr 120px;
    grid-template-columns: 1fr;
    height: 100%;
     
     
}


.content {
    padding-bottom: 2rem;
}

.footer {
    background-color: black;
    
    width: 100%;
    height: 100px;
    color: white;
}

.footer p {
    margin-bottom: 0;
    text-align: center;
    padding: 2em;
} 

.fondopantalla{
    background: url("img/app.jpg") no-repeat ;	
    background-size: cover;
}


.Link {
    display: inline-block;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.Link-primary {
    background-color: var(--primary);
    color: #fefefe;
}

.Link-primary:hover {
    background-color: var(--primary);
    color: #eee;
}


.EmpresasDetalle-data {
    display: flex;
    flex-direction: column;
}

.EmpresasDetalle-data h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.EmpresasLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.EmpresasLista > * {
    width: calc(100% / 4 - 2rem);
    height: 245px;
    margin: 1rem;
}



.boton-empresa{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 1em;
}

.EmpresasListaItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
    text-align: center;
}

.EmpresasListaItem img {
    order: -1;
    margin-bottom: .5rem;
}

/* .boton{
    margin: auto;
    display: block;
    width: 60%;
} */
.viajes{
    font-size: 4em;
    font-weight: bold;
}

.panel{
    list-style: none;
}


@media screen and (min-width: 768px) {

   /*  Informacion de la home */

   .img-card-informacion{
       width: 50%;
       margin: auto;
       display: block;
   }

   .card-informacion{
       width: 50%;
       margin: auto;
       display: block;
   }

   .h1-informacion{
       text-align: center;
       width: 50%;
       margin: auto;
       display: block;
   }

   /* Menu hamburguesa */

   .imagenperfil{
    width: 100px;
    display: block;
    margin: auto;
    height: 100px;
    border-radius: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    padding: 5px;
    }

    .iniciar-sesion{
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

  /*  Blog */

    .h1-blog{
    font-size: 2.2em;
    background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

   /*  Termina aca */

    .nombreviaje {
        justify-content: space-between;
        flex-direction: row;
    }

}

.Cargando,
.Cargando:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.Cargando {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid yellow;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }






/*CELULARES*/

@media (min-width: 360px) and (max-width: 740px) {
    .iniciar-sesion {
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

    .salida{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        border-top-style: dashed;
        padding: 1em;
    }

    .llegada{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }
    .empresa{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    

    .precio{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    .exito{
        color: green;
    }

    .comprar{
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

    .qr{
        box-shadow: 5px 5px 5px 5px #888888;
        margin-top: 1em;
    }


    .asientos{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    .pasajes{
        background-color: #b8daff;
        border-radius: 4px;
        padding: 4px;
        padding: 1em;
    }

    .conductor{
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }

    .caja-perfil{
        margin-bottom: 3em;
    }

    .tevez{
        box-shadow: 5px 2px 5px 2px #c1ab33;
    }

    .email{
        background-color: #eddd76;
        padding: 0.5em;
        border-radius: 2px;
    }

    .checkout{
        background-color: #ffd146;
        padding: 1em;
        border-radius: 7px;
        margin-bottom: 2em;
    }

    .perfileshr{
        border: 3px solid #131311;
    }

    input:required:valid {
        border: 2px solid green;
    }

    input:required:invalid {
        border: 2px solid red;
    }

    .asientos-borde{
        border: 2px solid #c1ab33;;
        padding: 2.2em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: 5px 2px 5px 2px #c1ab33;
    }

    .check{
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .amarillos{
        width: 3em;
        height: 3em;
        margin:0.7em;
        border: 2px solid black;
    }

    .verde{
        width: 12em;
        height: 3em;
        border: 2px solid black;
        margin: auto;
        display: block;
    }

    .disp{
        background-color: #ffc107;
        display: inline-block;
        margin: auto;
        width: 35%;
        margin-left: 2.3em;
        text-align: center;
        color: #2f2e2d;
        border-radius: 0.5em;
        border: 2px solid #ffc107;
    }

    .ocupado{
        background-color: red;
        display: inline-block;
        margin: auto;
        margin-left: 2em;
        width: 35%;
        text-align: center;
        color: #e6dcdc;
        margin-bottom: 2em;
        border-radius: 0.5em;
        border: 2px solid red;
    }

    .blog-info{
        padding: 1.5em;
    }

    .menores{
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 3px;
    }

    .autorizacion li {
        list-style: none;
    }

    .carrito-boton{
        display: block;
        margin: auto;
        margin-top: 3em;
        width: 60%;
    }

    .vermas{
        margin:auto;
        display: block;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .informacion{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #f9f6db;
        padding: 1em;
        border-radius: 7px;
        border: 2px solid #f2e997;
    }
   

    .listadoviajes{
        border-radius: 5px;
        border: 2px solid black;
        box-shadow: var(--shadow);
        background-color: #eee;
        background: url("img/agua.jpg") no-repeat ;	
        background-size: cover;
        list-style: none;
        margin-bottom: 2em;
        margin-left: 2px;
        width: 95%;
        
    }

    .divs{
        background-color: #ffd146;;
        padding: 2em;
        margin: auto;
        margin-bottom: auto;
        border-radius: 7px;
        margin-bottom: 2em;
        width: 95%;
        display: block;
    }

    .nuevo{
        text-align: center;
        font-weight: bold;
        font-size: 2.2em;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
            }

   

    .h1-blog{
        font-size: 2.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .card-home{
        margin:auto;
        
     }

     .viajes-empresa{
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        font-size: 2.2em;
    }

  

    .viajes{
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .busqueda{
        width: 95%;
        background-color: #ecdb72;;;
        padding: 2em;
        border-radius: 1em;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        
    }


    
    .listadoviajes {
        border-radius: 5px;
        border: var(--border);
        box-shadow: var(--shadow);
        margin: auto;
        margin-top: 4em;
        margin-bottom: 2em;
    }
    .labelcolor {
        color: black;
    }

    .button-grabar {
        width: 50%;
        display: block;
        margin: auto; }
    
    .nombreviaje {
        display: flex;
        flex-direction: column;
        padding: var(--padding-box);
    }
    
   
    .font{
        text-align: center;
        font-weight: bold;
    }
    .imagen{
        width: 200px;
        display: block;
        margin: auto;
        height: 200px;
        border-radius: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
    }

    .imagenperfil{
        width: 100px;
        display: block;
        margin: auto;
        height: 100px;
        border-radius: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
    }
    .li-empresas{
        list-style: none;
    }
}

@media (max-width: 480px){

  
    .listadoviajes {
        border-radius: 5px;
        border: var(--border);
        box-shadow: var(--shadow);
    }
    
    .nombreviaje {
        display: flex;
        flex-direction: column;
        padding: var(--padding-box);
        text-align: center;
    }
    
    
    .bordes{
    border: 2px solid black;
    }
    
    

    .card{
        margin: auto;
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    
    }

    .iniciar-sesion{
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

 
    .boton-buscador{
        width:70%;
        margin: auto;
        display: block;
    }

    .panel{
        width: 70%;
    }

    .box{
        width: 90%;
        margin: auto;
        display: block;
        background-color: #ffd146;
        padding-top: 3em;
        padding-bottom: 3em;
        border-radius: 7px;
        
    }

    .imgs{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
    }
   
    .viajes{
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }
    

    .listadoviajes {
        border-radius: 5px;
        
        border: 2px solid black;
        box-shadow: var(--shadow);
        background-color: #eee;
        background: url("img/agua.jpg") no-repeat ;	
        background-size: cover;
        list-style: none;
        margin-bottom: 2em;
        margin-left: 0.3em;
        width: 95%;
       
    }
    .blogs{
        display: block;
        margin: auto;
    }

    .boton-empresa{
        display: block;
        margin: auto;
        width: 50%;
        margin-top: 1em;
    }
    .li-empresas{
        list-style: none;
    }

    .imagen{
        display: block;
        margin: auto;
    }

    .imagen-panel{
        width: 100px;
        height: 100px;
    }
    .busqueda{
        width: 95%;
        background-color: #ecdb72;;
        padding: 2em;
        border-radius: 7px;
        margin-left:0.4em;
        margin-top: 1em;
        margin-bottom: 1em;
        
    }

    .h1-blog{
        
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .hr{
        border: 2px solid black;
    }

    .viajes-empresa{
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        font-size: 2.2em;
    }


  
    .font{
        text-align: center;
        font-weight: bold;
    }

    .labelcolor{
        color: black;
    }


 

    .colortd{
        background-color: #ffeeba;
    }

    .table-warning th, .table-warning thead th {
        border-color: #f9bb00;
    }

    .colorth{
        background-color: #ffb300;
    }

    .table-warning th, .table-warning thead th {
        border-color: #fffbee;
    }
    .nuevo{
        text-align: center;
        font-weight: bold;
        font-size: 2.2em;
        
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }
    .button-grabar{
        width: 50%;
        display: block;
        margin: auto;
    }
    .imagen{
        width:200px;
        height:200px;
        border-radius:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
    }

   
    }

    /*tablets*/


    @media (min-width: 768px) and (max-width: 1024px) {
        .listadoviajes {
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: var(--shadow);
            background-color: #eee;
            background: url("img/agua.jpg") no-repeat ;	
            background-size: cover;
            list-style: none;
            width: 70%;
            margin: auto;
            margin-top: 2em;
           
        }


        .iniciar-sesion{
            text-align: center;
            margin: auto;
        }

    
        .nombre-panel{
            margin-top: 10%;
            font-weight: bold;
            font-size: 1.5em;
        }
        .imagen-panel{
            width: 200px;
            height: 200px;
        }

        .nuevo{
            text-align: center;
            font-weight: bold;
        }

        .button-grabar{
            width: 50%;
            display: block;
            margin: auto;
        }

        .labelcolor{
            color: black;
        }

        .busqueda{
            width: 70%;
            background-color: #ecdb72;;;
            padding: 2em;
            border-radius: 1em;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            display: block;
        }

        .boton-buscador{
            width: 50%;
            margin: auto;
            display: block;
        }

        .viajes-empresa{
            text-align: center;
            font-size: 2.2em;
             background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .hr{
            border: 2px solid black;
        }
    

        
        .box{
            width: 50%;
            margin: auto;
            display: block;
            background-color: #d3e8fb;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }
        .boton-empresa{
            display: block;
            margin: auto;
            width: 100%;
            margin-top: 1em;
        }


   
        .card-home{
            margin:auto;
            
        
        }

        .li-empresas{
            list-style: none;
            text-align: center;
        }
        .viajes{
            text-align: center;
            font-size: 2.2em;
             background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }
        .imagen{
            width:200px;
            height:200px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
        }
       
        .h1-blog{
            font-size: 2.2em;
             background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }
    
        .listadoviajes {
            border-radius: 5px;
            border: var(--border);
            box-shadow: var(--shadow);
        }
        
        .nombreviaje {
            display: flex;
            flex-direction: column;
            padding: var(--padding-box);
        }
        
        
        .bordes{
        border: 2px solid black;
        }
        
        
        
        
      }
    
    /*PC*/
    
    @media (min-width: 1200px)  {

       /* Home */
        .img-card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .h1-informacion{
            text-align: center;
            width: 50%;
            margin: auto;
            display: block;
        }

        .card-home{
            margin:auto;
            display:inline-block; 
            margin-top:2em;
            margin-left: 7.5em;
        
        }

    
     
        /* Menu hamburguesa */
     
        .imagenperfil{
         width: 100px;
         display: block;
         margin: auto;
         height: 100px;
         border-radius: 150px;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border: 1px solid #ddd;
         padding: 5px;
         }
     
         .iniciar-sesion{
             text-align: center;
             margin: auto;
             font-weight: bold;
         }
     
       /*  Blog */
     
         .h1-blog{
         font-size: 2.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
         }

        /* Empresas usuarios */

        .li-empresas{
            list-style: none;
        }

        .imagen-empresa{
            width:200px;
            height:200px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .informacion-empresa{
            text-align: center;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: #f9f6db;
            padding: 1em;
            border-radius: 1em;
            width: 60%;
        }

        /* Viajes usuarios */

        .viajes-us-p{
            text-align: center;
            width: 68%;
            display: block;
            margin: auto;
        }

        .nombreviaje {
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
            font-weight: bold;
            margin: 1em;
        }

        .listadoviajes {
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: var(--shadow);
            background-color: #eee;
            background: url("img/agua.jpg") no-repeat ;	
            background-size: cover;
            list-style: none;
            width: 70%;
            margin: auto;
            margin-top: 2em;
           
        }

        /* Elegir asientos */

        .nuevo{
            text-align: center;
            font-weight: bold;
            font-size: 2.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .disp{
            background-color: #ffc107;
            display: inline-block;
            margin: auto;
            width: 20%;
            margin-left: 2.3em;
            text-align: center;
            color: #2f2e2d;
            border-radius: 0.5em;
            border: 2px solid #ffc107;
        }
    
        .ocupado{
            background-color: red;
            display: inline-block;
            margin: auto;
            margin-left: 2em;
            width: 20%;
            text-align: center;
            color: #e6dcdc;
            margin-bottom: 2em;
            border-radius: 0.5em;
            border: 2px solid red;
        }

        .div-ocup-disp{
            margin-left: 32%;
        }

        .conductor{
            display: block;
            margin: auto;
            margin-bottom: 1em;
        }

        .asientos-borde{
            border: 2px solid #c1ab33;;
            padding: 1.9em;
            width: 25%;
            display: block;
            margin: auto;
            box-shadow: 5px 2px 5px 2px #c1ab33;
        }

        .amarillos{
            width: 3.5em;
            height: 3.5em;
            margin:3px;
        }

        .carrito-boton{
            display: block;
            margin: auto;
            width: 80%;
            margin-top: 3em;
        }

        /* Checkout */

        .check{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .checkout{
            width: 70%;
            display: block;
            margin: auto;
        }

        /* Panel viajes */

        .hr{
            border: 2px solid black;
        }

        .labelcolor{
            color: black;
        }

        .busqueda{
            width: 40%;
            background-color: #ecdb72;;;
            padding: 2em;
            display: block;
            margin: auto;
            border-radius: 1em;
        }

        .boton-eliminar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 18%;
        }

        .boton-editar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 2%;
        }

        .colorth{
            background-color: #ffb300;
        }

        .editar-perfil{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .form-editar-viajes{
            width: 40%;
            background-color: #ffb300;
            padding: 2em;
            display: block;
            margin: auto;
        }

        .boton-terminar-edit{
            width: 40%;
            margin: auto;
            display: block;
        }

        /* Cargar viajes */

        .divs{
            background-color: #ffd146;;
            padding: 2em;
            margin: auto;
            margin-bottom: auto;
            border-radius: 7px;
            margin-bottom: 2em;
            width:60%;
            display: block;
        }

        .box{
            width: 50%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        
        .button-grabar{
            width: 40%;
            display:block;
            margin:auto;
        }

        /* Login */

        .boton-ingresar{
            display: inline-block;
            width: 30%;
            margin-left: 17%;
            margin-top: 3em;
        }

        .boton-registrar{
            display: inline-block;
            width: 30%;
            margin-left: 5%;
            margin-top: 3em;
        }

        .div-sesion{
            width: 40%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        /* Registarse */

        .form-registrarse{
            width: 50%;
            background-color: #ffd24a;
            padding: 3em;
            border-radius: 1em;
            margin: auto;
            display: block;
        }

        /* Nuevas Empresas */

        .viajes-empresa{
            text-align: center;
            font-weight: bold;
            font-size: 3.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

      

       /*  Editar perfil */

       .imagen{
        width:200px;
        height:200px;
        border-radius:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
        margin: auto;
        display: block;
        }

        .nombre-perfil{
            display: block;
            padding: 1em;
            margin-top: 1em;
        }

        /* Grabar empresa */

        .img-empresa{
            width:100px;
            height:100px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .boton-empresa{
            width: 25%;
        }

        .boton{
            margin-left: 2em;
        }


        /*  Termina aca */
     
    
        .viajes{
            text-align: center;
            font-size: 3.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));}


            
            .listadoviajes {
                border-radius: 5px;
                border: var(--border);
                box-shadow: var(--shadow);
            }
            
            
            .salida{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                border-top-style: dashed;
                padding: 1em;
            }
        
            .llegada{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            .empresa{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
        
            
        
            .precio{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            
            .bordes{
            border: 2px solid black;
            }
            
            
            .listadoviajes{
                margin-bottom: 2em;
            }

           
            

            .informacion{
                text-align: center;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                background-color: #f9f6db;
                padding: 1em;
                border-radius: 1em;
                width: 60%;
            }

            .asientos{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            } 
            .comprar{
                display: block;
                margin: auto;
                width: 100%;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 1em;
            }
           
     }

/* Menu Hamburguesa */

.btn-link{
    color: blue;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  background: #ecd96a;
  border: 2px #ecd96a solid;
  border-radius: 2px;
}

.bm-burger-bars {
  background: #000;
}

/* .bm-menu-wrap {
  visibility: hidden;
}

.bm-menu-wrap.open {
  visibility: visible;
} */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #ffa200;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item {
  display: block;
  color: black;
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold;
}













     
    
    



