* {
    box-sizing: border-box;
    --border: 1px solid #ddd;
    --shadow: 0 2px 2px #ccc;
    --padding-box: .5rem 1rem;
    --primary: #0f232f;
    --secondary: #2eb499;
    --bg-nav: #06141d;
    --bg-footer: #0b0b0c;

    --bp-md: 768px;
    --bp-xmd: 950px;
    --bp-lg: 1200px;
    font-family:sans-serif;
}


td{
    background-color: #d6d8db;
    color: black;
}

.global input:required:invalid {
        border:2px solid #C00000;
      
}

.finalizar{
    background-color: #dadcff;
    margin: auto;
    margin-top: 3em;
    border-radius: 2px;
    border:3px solid #444cd6;
}



input:required:valid {
    border:2px solid green;
  
}

.hola{
    display: inline-block;
    width: 8%;
    text-align: center;
    margin-left: 7em;
}
.asd{
    display: inline-block;
    width: 8%;
    text-align: center;
    margin-left: 1em;
}
.div-nuevo{
    background-color: burlywood;
    width: 70%;
    margin: auto;
    display: block;
}

.lista-empresa{
    list-style: none;
}

body{
    background-color: #f4f2f2;
}
.none{
    display: none;
}
html, body, #root {
    height: 100%;
}

img {
    max-width: 100%;
}
.hamburguesa{
    background-color: #ffc107 ;
    z-index: 1050;
    opacity: 0.9;
}



.App {
    display: grid;
    grid-template-rows: 56px 1fr 120px;
    grid-template-columns: 1fr;
    height: 100%;
     
     
}


.content {
    padding-bottom: 2rem;
}

.footer {
    background-color: black;
    
    width: 100%;
    height: 100px;
    color: white;
}

.footer p {
    margin-bottom: 0;
    text-align: center;
    padding: 2em;
} 

.fondopantalla{
    background: url("img/app.jpg") no-repeat ;	
    background-size: cover;
}


.Link {
    display: inline-block;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.Link-primary {
    background-color: var(--primary);
    color: #fefefe;
}

.Link-primary:hover {
    background-color: var(--primary);
    color: #eee;
}


.EmpresasDetalle-data {
    display: flex;
    flex-direction: column;
}

.EmpresasDetalle-data h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.EmpresasLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.EmpresasLista > * {
    width: calc(100% / 4 - 2rem);
    height: 245px;
    margin: 1rem;
}



.boton-empresa{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 1em;
}

.EmpresasListaItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
    text-align: center;
}

.EmpresasListaItem img {
    order: -1;
    margin-bottom: .5rem;
}

/* .boton{
    margin: auto;
    display: block;
    width: 60%;
} */
.viajes{
    font-size: 4em;
    font-weight: bold;
}

.panel{
    list-style: none;
}

/*CELULARES*/

@media (min-width: 360px) and (max-width: 640px){

    /* Calificar */

    .estrellas{
        margin-left: 25%;
        margin-top: 6px;
        
    }

    .link-stars{
        margin-left: 18%;
    }

    .link-stars2{
        margin-left: 1em;
        width: 30%;
    }


    .box-stars{
        background-color: #14529a;
        padding: 2em;
        border-radius: 3px;
    }

    /* Filtros */

    .filtros{
        background-color: #ebd865;
        padding: 2em;
        border-radius: 5px;
        width:92%;
        margin: auto;
        margin-bottom: 1em;
        border: 2px solid #b9b339;
    }

    .filtros-perfil{
        background-color: #ebd865;
        padding: 2em;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 1em;
        border: 2px solid #b9b339;
    }

    .btn-fecha{
        margin-left: 11%;
    }

    .inputs-filtros{
        display: inline-block;
        width: 60%;
        margin-right: 2em;
    }

    .inputs-filtros-perfil{
        display: inline-block;
        width: 60%;
        margin-right: 1em;
    }

    .limpiar-filtro{
        margin: auto;
        display: block;
        width: 50%;
        margin-top: 2em;
    }

    .radius-top-der{
        border-top-right-radius: 7px;
    }

    .radius-top-izq{
        border-top-left-radius: 7px;
    }

    .radius-bottom-der{
        border-bottom-right-radius: 7px;
    }

    .radius-bottom-izq{
        border-bottom-left-radius: 7px;
    }

    /* Login */

    .div-sesion {
        width: 100%;
        margin: auto;
        display: block;
        background-color: #ffd24a;
        padding-top: 3em;
        padding-bottom: 3em;
        border-radius: 1em;
    }

    .boton-ingresar{
        width: 100%;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .boton-registrar{
        margin-left: 2em;
    }

    /* Registrarse */

    .form-registrarse{
        width: 100%;
        background-color: #ffd24a;
        padding: 2em;
        border-radius: 1em;
        margin: auto;
        display: block;
    }

    .img-registro{
        width: 10em;
        display: block;
        margin: auto;
    }

    .iniciar-sesion {
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

    /* Blog */

    .h1-informacion{
        text-align: center;
        width:100%;
        margin: auto;
        display: block;
    }

    /* Empresas usuarios */

    .imagen-empresa {
        width: 200px;
        height: 200px;
        border-radius: 150px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        border: 1px solid #ddd;
        padding: 5px;
        margin: auto;
        display: block;
    }

    .informacion-empresa {
        text-align: center;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #f9f6db;
        padding: 1em;
        border-radius: 1em;
        width: 100%;
        border: 2px solid #ffd24a;
    }

    /* Viajes usuarios */

    .listadoviajes{
        border-radius: 5px;
        border: 2px solid black;
        box-shadow: var(--shadow);
        background-color: #eee;
        background: url("img/agua.jpg") no-repeat ;	
        background-size: cover;
        list-style: none;
        margin-bottom: 2em;
        margin-left: 2px;
        width: 99%;
        
    }

    .nombreviaje {
        display: flex;
        flex-direction: column;
        padding: var(--padding-box);
        text-align: center;
        font-size: 20px;
    }

    /* Reservar */
    
    .asientos-borde{
        border: 2px solid #c1ab33;;
        padding: 1.5em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }

    /* Perfil */

   .nombre-perfil{
    padding: 1em;
    margin: auto;
    display: table;
   } 

   .colorth {
    background-color: #ffb300;
    }

   .imagen{
    width: 200px;
    display: block;
    margin: auto;
    height: 200px;
    border-radius: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 1em;
    }

    /* Crear empresas */
    .crear-empresas{
        margin-right: 2em;
    }

    .img-empresa{
        width:80px;
        height:80px;
        border-radius:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
        margin: auto;
        display: block;
    }

    /* Panel viajes */

    #icon-elim{
        margin-bottom: 1em;
    }

    .check-input {
        padding: 18.5px 70px;
    }
    

    #botones{
        margin-left: 59%;
        margin-bottom: 2em;
        margin-right: 1em;
    }
    #botones1{
        margin-bottom: 2em;
    
    }

    .errores{
    margin-top: 1px;
    height: fit-content;
    }

    .boton-terminar-edit{
        width: 70%;
        margin: auto;
        display: block;
        margin-top: 2em;
    }

    .form-editar-viajes {
        background-color: #ffb300;
        padding: 2em;
        border-radius: 4px;
    }    


    /* Hasta aca */
   

    .salida{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        border-top-style: dashed;
        padding: 1em;
    }

    .llegada{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }
    .empresa{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    

    .precio{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    .exito{
        color: green;
    }

    .comprar{
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }

 

    .asientos{
        width: 60%;
        display: flex;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom-style: dashed;
        padding: 1em;
    }

    .pasajes{
        background-color: #b8daff;
        border-radius: 4px;
        padding: 4px;
        padding: 1em;
    }

    .conductor{
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }

    .caja-perfil{
        margin-bottom: 3em;
    }

    .tevez{
        box-shadow: 5px 2px 5px 2px #c1ab33;
    }

    .email{
        background-color: #eddd76;
        padding: 0.5em;
        border-radius: 2px;
    }

    .checkout{
        background-color: #ffd146;
        padding: 1em;
        border-radius: 7px;
        margin-bottom: 2em;
    }

    .perfileshr{
        border: 3px solid #131311;
    }

    input:required:valid {
        border: 2px solid green;
    }

    input:required:invalid {
        border: 2px solid red;
    }

    .check{
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .amarillos{
        width: 3em;
        height: 3em;
        margin:0.7em;
        border: 2px solid black;
    }

    .verde{
        width: 12em;
        height: 3em;
        border: 2px solid black;
        margin: auto;
        display: block;
    }

    .disp{
        background-color: #ffc107;
        display: inline-block;
        margin: auto;
        width: 35%;
        margin-left: 2.3em;
        text-align: center;
        color: #2f2e2d;
        border-radius: 0.5em;
        border: 2px solid #ffc107;
    }

    .ocupado{
        background-color: red;
        display: inline-block;
        margin: auto;
        margin-left: 2em;
        width: 35%;
        text-align: center;
        color: #e6dcdc;
        margin-bottom: 2em;
        border-radius: 0.5em;
        border: 2px solid red;
    }

    .blog-info{
        padding: 1.5em;
    }

    .menores{
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 3px;
    }

    .autorizacion li {
        list-style: none;
    }

    .carrito-boton{
        display: block;
        margin: auto;
        margin-top: 3em;
        width: 60%;
    }

    .vermas{
        margin:auto;
        display: block;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .informacion{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: #f9f6db;
        padding: 1em;
        border-radius: 7px;
        border: 2px solid #f2e997;
    }
   



    .divs{
        background-color: #ffd146;;
        padding: 2em;
        margin: auto;
        margin-bottom: auto;
        border-radius: 7px;
        margin-bottom: 2em;
        width: 95%;
        display: block;
    }

    .nuevo{
        text-align: center;
        font-weight: bold;
        font-size: 2.2em;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
            }

   

    .h1-blog{
        font-size: 2.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
         font-weight: bold;
    }

    .card-home{
        margin:auto;
        
     }

     .viajes-empresa{
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        font-size: 2.2em;
    }

  

    .viajes{
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
    }

    .busqueda{
        width: 95%;
        background-color: #ecdb72;;;
        padding: 2em;
        border-radius: 1em;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        
    }



    .labelcolor {
        color: black;
    }

    .button-grabar {
        width: 50%;
        display: block;
        margin: auto; }
    
    
   
    .font{
        text-align: center;
        font-weight: bold;
    }
    
    .imagenperfil{
        width: 100px;
        display: block;
        margin: auto;
        height: 100px;
        border-radius: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
    }

    .li-empresas{
        list-style: none;
    }

    .video{
        padding: 1em;  
    }

    .video-borde{
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }


}

/*CELULARES*/

@media (min-width: 411px) and (max-width: 823px) {

    .asientos-borde{
        border: 2px solid #c1ab33;
        padding: 3em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }
    
}


/*CELULARES*/

@media (min-width: 375px) and (max-width: 667px) {

    .asientos-borde{
        border: 2px solid #c1ab33;
        padding: 1.9em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }

    #botones {
        margin-left: 60%;
        margin-right: 1em;
    }
    
}

/*CELULARES*/

@media (min-width: 411px) and (max-width: 731px) {

    .asientos-borde{
        border: 2px solid #c1ab33;;
        padding: 3em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }
    
}

@media (min-width: 411px) and (max-width: 731px) {

    .asientos-borde{
        border: 2px solid #c1ab33;;
        padding: 3em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }
    
}

/*CELULARES*/

@media (min-width: 414px) and (max-width: 736px) {

    .asientos-borde{
        border: 2px solid #c1ab33;;
        padding: 3.1em;
        width: 95%;
        display: block;
        margin: auto;
        box-shadow: inset 0px 0px 10px 10px #c1ab33;
    }
    
}





    /*tablets*/


    @media (min-width: 768px) and (max-width: 1024px) {
       
        /* Home */
        .img-card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .h1-informacion{
            text-align: center;
            width: 50%;
            margin: auto;
            display: block;
        }

        .card-home{
            display: block;
            margin: auto
        
        }

    
     
        /* Menu hamburguesa */
     
        .imagenperfil{
         width: 100px;
         display: block;
         margin: auto;
         height: 100px;
         border-radius: 150px;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border: 1px solid #ddd;
         padding: 5px;
         }
     
         .iniciar-sesion{
             text-align: center;
             margin: auto;
             font-weight: bold;
         }
     
       /*  Blog */
     
         .h1-blog{
         font-size: 2.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
         }

         .card-columns{
             margin-left: 4px;
             margin-right: 4px;
         }

        /* Empresas usuarios */

        .li-empresas{
            list-style: none;
        }

        .imagen-empresa{
            width:200px;
            height:200px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .informacion-empresa{
            text-align: center;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: #f9f6db;
            padding: 1em;
            border-radius: 1em;
            width: 60%;
        }

        /* Viajes usuarios */

        .viajes-us-p{
            text-align: center;
            width: 68%;
            display: block;
            margin: auto;
        }

        .nombreviaje {
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
            font-weight: bold;
            margin: 1em;
        }

        .listadoviajes {
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: var(--shadow);
            background-color: #eee;
            background: url("img/agua.jpg") no-repeat ;	
            background-size: cover;
            list-style: none;
            width: 70%;
            margin: auto;
            margin-top: 2em;
           
        }

        /* Elegir asientos */

        .nuevo{
            text-align: center;
            font-weight: bold;
            font-size: 2.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .disp{
            background-color: #ffc107;
            display: inline-block;
            margin: auto;
            width: 20%;
            margin-left: 2.3em;
            text-align: center;
            color: #2f2e2d;
            border-radius: 0.5em;
            border: 2px solid #ffc107;
        }
    
        .ocupado{
            background-color: red;
            display: inline-block;
            margin: auto;
            margin-left: 2em;
            width: 20%;
            text-align: center;
            color: #e6dcdc;
            margin-bottom: 2em;
            border-radius: 0.5em;
            border: 2px solid red;
        }

        .div-ocup-disp{
            margin-left: 32%;
        }

        .conductor{
            display: block;
            margin: auto;
            margin-bottom: 1em;
        }

        .asientos-borde{
            border: 2px solid #c1ab33;;
            padding: 3.5em;
            width: 48%;
            display: block;
            margin: auto;
            box-shadow: inset 0px 0px 10px 10px #c1ab33;
        }

        .amarillos{
            width: 3.5em;
            height: 3.5em;
            margin:3px;
        }

        .video{
            display: block;
            margin: auto;
            margin-top: 2em;
            margin-bottom:2em ;
        }

        .carrito-boton{
            display: block;
            margin: auto;
            width: 80%;
            margin-top: 3em;
        }

        /* Checkout */

        .check{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .checkout{
            width: 70%;
            display: block;
            margin: auto;
        }

        /* Panel viajes */

        .hr{
            border: 2px solid black;
        }

        .labelcolor{
            color: black;
        }

        .busqueda{
            width: 40%;
            background-color: #ecdb72;;;
            padding: 2em;
            display: block;
            margin: auto;
            border-radius: 1em;
        }

        .boton-eliminar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 18%;
        }

        .boton-editar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 2%;
        }

        .colorth{
            background-color: #ffb300;
        }

        .editar-perfil{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .form-editar-viajes{
            width: 70%;
            background-color: #ffb300;
            padding: 2em;
            display: block;
            margin: auto;
            border-radius: 4px;
            margin-top: 3em;
        }

        .img-registro{
            width: 10em;
            display: block;
            margin: auto;  
            margin-bottom: 1em; 
        }

        .boton-terminar-edit{
            margin: auto;
            display: block;
        }

        .checkout {
            background-color: #ffd146;
            padding: 1em;
            border-radius: 7px;
            margin-bottom: 2em;
        }

        .box-stars {
            background-color: #14529a;
            padding: 2em;
            border-radius: 3px;
            width: 50%;
            margin: auto;
        }

        .estrellas {
            margin-left: 35%;
            margin-top: 1em;
        }

        .link-stars {
            margin-left: 35%;
            width: 15%;
        }

        .link-stars2 {
            margin-left: 1em;
            width: 15%;
        }

        .filtros-perfil {
            background-color: #ebd865;
            padding: 2em;
            border-radius: 5px;
            margin: auto auto 1em;
            border: 2px solid #b9b339;
            width: 50%;
        }

        .buscar-perfil{
            width: 30%;
        }

        .inputs-filtros-perfil {
            display: inline-block;
            width: 60%;
            margin-right: 1em;
        }

        /* Cargar viajes */

        .divs{
            background-color: #ffd146;;
            padding: 2em;
            margin: auto;
            margin-bottom: auto;
            border-radius: 7px;
            margin-bottom: 2em;
            width:60%;
            display: block;
        }

        #botones{
            margin-left: 75%;
            margin-right: 1em;
        }
        #botones1{
            margin-left: 1em;
        
        }

   

        .box{
            width: 50%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        
        .button-grabar{
            width: 40%;
            display:block;
            margin:auto;
        }

        /* Login */

        .boton-ingresar{
            display: inline-block;
            width: 30%;
            margin-left: 17%;
            margin-top: 3em;
        }

        .boton-registrar{
            display: inline-block;
            width: 30%;
            margin-left: 5%;
            margin-top: 3em;
        }

        .div-sesion{
            width: 80%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        /* Registarse */

        .form-registrarse{
            width: 80%;
            background-color: #ffd24a;
            padding: 3em;
            border-radius: 1em;
            margin: auto;
            display: block;
        }

        /* Nuevas Empresas */

        .viajes-empresa{
            text-align: center;
            font-weight: bold;
            font-size: 3.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .crear-empresas{
            margin-right: 2.5em;
        }

      

       /*  Editar perfil */

       .imagen{
        width:200px;
        height:200px;
        border-radius:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
        margin: auto;
        display: block;
        }

        .nombre-perfil{
            display: block;
            padding: 1em;
            margin-top: 1em;
        }

        /* Grabar empresa */

        .img-empresa{
            width:100px;
            height:100px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .boton-empresa{
            width: 25%;
        }

        .boton{
            margin-left: 2em;
        }

        /* Filtros */

    .filtros{
        background-color: #ebd865;
        padding: 2em;
        border-radius: 5px;
        width:50%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 1em;
        border: 2px solid #b9b339;
    }

    .btn-fecha{
        margin-left: 5%;
    }

    .inputs-filtros{
        display: inline-block;
        width: 60%;
        margin-right: 2em;
    }

    .limpiar-filtro{
        margin: auto;
        display: block;
        width: 50%;
        margin-top: 2em;
    }



        /*  Termina aca */
     
    
        .viajes{
            text-align: center;
            font-size: 3.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));}


            
            .listadoviajes {
                border-radius: 5px;
                border: var(--border);
                box-shadow: var(--shadow);
            }
            
            
            .salida{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                border-top-style: dashed;
                padding: 1em;
            }
        
            .llegada{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            .empresa{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
        
            
        
            .precio{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            
            .bordes{
            border: 2px solid black;
            }
            
            
            .listadoviajes{
                margin-bottom: 2em;
            }

           
            

            .informacion{
                text-align: center;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                background-color: #f9f6db;
                padding: 1em;
                border-radius: 1em;
                width: 60%;
            }

            .asientos{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            } 
            .comprar{
                display: block;
                margin: auto;
                width: 100%;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 1em;
            }

            .perfileshr{
                border: 3px solid #131311;
            }
        
      }
    
    /*PC*/
    
    @media (min-width: 1200px)  {

       /* Home */
        .img-card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .card-informacion{
            width: 50%;
            margin: auto;
            display: block;
        }
     
        .h1-informacion{
            text-align: center;
            width: 50%;
            margin: auto;
            display: block;
        }

        .card-home{
            margin:auto;
            display:inline-block; 
            margin-top:2em;
            margin-left: 7.5em;
        
        }

    
     
        /* Menu hamburguesa */
     
        .imagenperfil{
         width: 100px;
         display: block;
         margin: auto;
         height: 100px;
         border-radius: 150px;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border: 1px solid #ddd;
         padding: 5px;
         }
     
         .iniciar-sesion{
             text-align: center;
             margin: auto;
             font-weight: bold;
         }
     
       /*  Blog */
     
         .h1-blog{
         font-size: 2.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
         }

         .card-columns{
             margin-left: 4px;
             margin-right: 4px;
         }

        /* Empresas usuarios */

        .li-empresas{
            list-style: none;
        }

        .imagen-empresa{
            width:200px;
            height:200px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .informacion-empresa{
            text-align: center;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: #f9f6db;
            padding: 1em;
            border-radius: 1em;
            width: 60%;
        }

        /* Viajes usuarios */

        .viajes-us-p{
            text-align: center;
            width: 68%;
            display: block;
            margin: auto;
        }

        .nombreviaje {
            justify-content: space-between;
            flex-direction: row;
            text-align: center;
            font-weight: bold;
            margin: 1em;
        }

        .listadoviajes {
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: var(--shadow);
            background-color: #eee;
            background: url("img/agua.jpg") no-repeat ;	
            background-size: cover;
            list-style: none;
            width: 70%;
            margin: auto;
            margin-top: 2em;
           
        }

        /* Elegir asientos */

        .nuevo{
            text-align: center;
            font-weight: bold;
            font-size: 2.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .disp{
            background-color: #ffc107;
            display: inline-block;
            margin: auto;
            width: 20%;
            margin-left: 2.3em;
            text-align: center;
            color: #2f2e2d;
            border-radius: 0.5em;
            border: 2px solid #ffc107;
        }
    
        .ocupado{
            background-color: red;
            display: inline-block;
            margin: auto;
            margin-left: 2em;
            width: 20%;
            text-align: center;
            color: #e6dcdc;
            margin-bottom: 2em;
            border-radius: 0.5em;
            border: 2px solid red;
        }

        .div-ocup-disp{
            margin-left: 32%;
        }

        .conductor{
            display: block;
            margin: auto;
            margin-bottom: 1em;
        }

        .asientos-borde{
            border: 2px solid #c1ab33;;
            padding: 3.2em;
            width: 27%;
            display: block;
            margin: auto;
            box-shadow: inset 0px 0px 10px 10px #c1ab33;
        }

        .amarillos{
            width: 3.5em;
            height: 3.5em;
            margin:3px;
        }

        .video{
            display: block;
            margin: auto;
            margin-top: 2em;
            margin-bottom:2em ;
            width: 50%;
        }

        .carrito-boton{
            display: block;
            margin: auto;
            width: 80%;
            margin-top: 3em;
        }

        /* Checkout */

        .check{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .checkout{
            width: 70%;
            display: block;
            margin: auto;
        }

        /* Panel viajes */

        .hr{
            border: 2px solid black;
        }

        .labelcolor{
            color: black;
        }

        .busqueda{
            width: 40%;
            background-color: #ecdb72;;;
            padding: 2em;
            display: block;
            margin: auto;
            border-radius: 1em;
        }

        .boton-eliminar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 18%;
        }

        .boton-editar-perfil{
            display: inline-block;
            width: 30%;
            margin-left: 2%;
        }

        .colorth{
            background-color: #ffb300;
        }

        .editar-perfil{
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .form-editar-viajes{
            width: 40%;
            background-color: #ffb300;
            padding: 2em;
            display: block;
            margin: auto;
            border-radius: 4px;
            margin-top: 3em;
        }

        .img-registro{
            width: 10em;
            display: block;
            margin: auto;     
        }

        .boton-terminar-edit{
            width: 40%;
            margin: auto;
            display: block;
        }

        .checkout {
            background-color: #ffd146;
            padding: 1em;
            border-radius: 7px;
            margin-bottom: 2em;
        }

        .box-stars {
            background-color: #14529a;
            padding: 2em;
            border-radius: 3px;
            width: 50%;
            margin: auto;
        }

        .estrellas {
            margin-left: 35%;
            margin-top: 1em;
        }

        .link-stars {
            margin-left: 35%;
            width: 15%;
        }

        .link-stars2 {
            margin-left: 1em;
            width: 15%;
        }

        .filtros-perfil {
            background-color: #ebd865;
            padding: 2em;
            border-radius: 5px;
            margin: auto auto 1em;
            border: 2px solid #b9b339;
            width: 50%;
        }

        .buscar-perfil{
            width: 30%;
        }

        .inputs-filtros-perfil {
            display: inline-block;
            width: 60%;
            margin-right: 1em;
        }

        /* Cargar viajes */

        .divs{
            background-color: #ffd146;;
            padding: 2em;
            margin: auto;
            margin-bottom: auto;
            border-radius: 7px;
            margin-bottom: 2em;
            width:60%;
            display: block;
        }

        #botones{
            margin-left: 89%;
            margin-right: 1em;
        }
        #botones1{
            margin-left: 1em;
        
        }

   

        .box{
            width: 50%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        
        .button-grabar{
            width: 40%;
            display:block;
            margin:auto;
        }

        /* Login */

        .boton-ingresar{
            width: 100%;
            margin-top: 3em;
        }

        .boton-registrar{
            width: 30%;
            margin-left: 5%;
            margin-top: 3em;
        }

        .div-sesion{
            width: 40%;
            margin: auto;
            display: block;
            background-color: #ffd24a;
            padding-top: 3em;
            padding-bottom: 3em;
            border-radius: 1em;
        }

        /* Registarse */

        .form-registrarse{
            width: 50%;
            background-color: #ffd24a;
            padding: 3em;
            border-radius: 1em;
            margin: auto;
            display: block;
        }

        /* Nuevas Empresas */

        .viajes-empresa{
            text-align: center;
            font-weight: bold;
            font-size: 3.2em;
         background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));
        }

        .crear-empresas{
            margin-right: 2.5em;
        }

      

       /*  Editar perfil */

       .imagen{
        width:200px;
        height:200px;
        border-radius:150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 1px solid #ddd;
        padding: 5px;
        margin: auto;
        display: block;
        }

        .nombre-perfil{
            display: block;
            padding: 1em;
            margin-top: 1em;
        }

        /* Grabar empresa */

        .img-empresa{
            width:100px;
            height:100px;
            border-radius:150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid #ddd;
            padding: 5px;
            margin: auto;
            display: block;
        }

        .boton-empresa{
            width: 25%;
        }

        .boton{
            margin-left: 2em;
        }

        /* Filtros */

    .filtros{
        background-color: #ebd865;
        padding: 2em;
        border-radius: 5px;
        width:50%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 1em;
        border: 2px solid #b9b339;
    }

    .btn-fecha{
        margin-left: 5%;
    }

    .inputs-filtros{
        display: inline-block;
        width: 60%;
        margin-right: 2em;
    }

    .limpiar-filtro{
        margin: auto;
        display: block;
        width: 50%;
        margin-top: 2em;
    }

    .imagenperfil:hover{
        border: 2px blue solid;
    }



        /*  Termina aca */
     
    
        .viajes{
            text-align: center;
            font-size: 3.2em;
            background-image: linear-gradient(to right, rgba(249, 237, 226, 0), rgb(234, 214, 96));}


            
            .listadoviajes {
                border-radius: 5px;
                border: var(--border);
                box-shadow: var(--shadow);
            }
            
            
            .salida{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                border-top-style: dashed;
                padding: 1em;
            }
        
            .llegada{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            .empresa{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
        
            
        
            .precio{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            }
            
            .bordes{
            border: 2px solid black;
            }
            
            
            .listadoviajes{
                margin-bottom: 2em;
            }

           
            

            .informacion{
                text-align: center;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                background-color: #f9f6db;
                padding: 1em;
                border-radius: 1em;
                width: 60%;
            }

            .asientos{
                width: 60%;
                display: flex;
                margin: auto;
                margin-top: 1em;
                margin-bottom: 1em;
                border-bottom-style: dashed;
                padding: 1em;
            } 
            .comprar{
                display: block;
                margin: auto;
                width: 100%;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 1em;
            }

            .perfileshr{
                border: 3px solid #131311;
            }
           
     }

/* Menu Hamburguesa */

.btn-link{
    color: blue;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  background: #ecd96a;
  border: 2px #ecd96a solid;
  border-radius: 2px;
}

.bm-burger-bars {
  background: #000;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #ffa200;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  padding: 0.8em;
}

.bm-item {
  display: block;
  color: black;
  text-align: center;
  padding-bottom: 1em;
  font-weight: bold;
}

.bot{
     font-size:3em; 
     color: white;
}



.div-bot{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1em;
    z-index: 1050;
    background-color: rgb(12 58 255);
    border-radius: 300px;
}














     
    
    



